@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

#classmates {
    color: black;
}

.hidden {
    opacity: .1;
    width: 120px;
    position: absolute;
    left: 300px;
    font-size: 50px;
    margin-top: -10px;
}

.emoji_links {
    text-decoration: none;
    font-size: 20px;
}
